*, *:after, *:before {
  box-sizing: border-box;
  outline: 0; }

body {
  width: 100%;
  margin: 0 auto;
  min-width: 655px;
  padding: 0;
  font-family: helvetica, arial, sans-serif;
  font-size: 15px;
  color: #000;
  background: #fff; }

h1, h2, h3, h4, h5, h6 {
  font-size: 20px;
  font-weight: 400;
  color: #000; }

a {
  text-decoration: none;
  color: #000; }

div > a {
  color: #fff;
  text-decoration: none; }

textarea:focus, input:focus, input:active {
  outline: 0; }

.container {
  max-width: 80%;
  margin-left: auto;
  margin-right: auto; }
  .container:after {
    content: " ";
    display: block;
    clear: both; }
  .container:after {
    content: "";
    display: table;
    clear: both; }
  @media (max-width: 1137px) {
    .container {
      max-width: 90%;
      margin-left: auto;
      margin-right: auto; }
      .container:after {
        content: " ";
        display: block;
        clear: both; } }

.box {
  margin-top: 50px; }

.btn, .welcome-box__btn {
  display: inline-block;
  color: #fff;
  padding: 7px 8px;
  border-radius: 2px;
  background-color: #ca3c3c;
  text-decoration: none;
  font-size: 13px;
  font-weight: 900;
  -webkit-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out; }
  .btn:hover, .welcome-box__btn:hover {
    background: #a62d2d; }

.clearfix:before, .clearfix:after {
  content: "";
  display: table; }
.clearfix:after {
  clear: both; }

.header {
  width: 100%;
  background-color: #ca3c3c;
  padding: 10px 30px;
  color: #fff;
  z-index: 9999;
  position: fixed;
  top: 0;
  left: 0; }
  .header:after {
    content: "";
    display: table;
    clear: both; }

.header__logo {
  margin-right: 10px;
  font-family: Lobster, helvetica;
  font-size: 30px;
  float: left; }

.header__nav {
  float: left;
  margin-left: 40px;
  margin-top: 8px;
  position: relative; }
  .header__nav ul li {
    display: inline-block;
    margin-right: 20px;
    font-weight: 800;
    text-transform: uppercase; }
    .header__nav ul li:hover {
      text-decoration: underline; }
    .header__nav ul li a {
      color: #fff;
      padding: 15px 0; }
  @media (max-width: 926px) {
    .header__nav {
      display: none; } }

.header__search-box {
  float: right; }
  @media (max-width: 926px) {
    .header__search-box {
      display: none; } }

.header__search-box-input {
  background: #eef1f2;
  border: none;
  width: 200px;
  border-radius: 4px;
  padding: 5px 15px;
  margin: 2px auto; }
  .header__search-box-input:focus {
    background: #fff;
    border: none; }

.header__search-box-submit {
  background: none;
  border: none;
  color: #97aab0;
  position: relative;
  right: 40px; }
  .header__search-box-submit:hover {
    cursor: pointer; }

.header__trigger {
  float: right;
  display: none; }
  .header__trigger:hover {
    cursor: pointer; }
  @media (max-width: 926px) {
    .header__trigger {
      display: block; } }

.header__menu {
  display: none; }

.header__menu-item {
  text-align: center;
  border-top: 1px solid #eef1f2; }
  .header__menu-item:first-child {
    border-top: none; }
  .header__menu-item a {
    display: block;
    padding: 20px;
    color: #fff;
    font-weight: 900; }

.header__color-picker {
  line-height: 10px;
  cursor: pointer;
  padding: 10px 0;
  position: relative; }

.header__picker {
  position: absolute;
  display: none;
  width: 80px;
  top: 35px;
  left: -35px;
  background: #fff;
  border: 3px solid #fff;
  border-radius: 3px; }

.header__picker:before {
  content: '';
  position: absolute;
  left: 28px;
  top: -12px;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 12px solid #fff; }

.active {
  display: block; }

.shadow {
  text-shadow: 0 0 12px rgba(0, 0, 0, 0.7); }

.left-box {
  box-sizing: border-box;
  width: 30%;
  float: left;
  padding: 0 20px;
  margin-top: 70px;
  text-align: left; }
  .left-box:after {
    content: "";
    display: table;
    clear: both; }
  @media (max-width: 926px) {
    .left-box {
      display: none; } }

.right-box {
  box-sizing: border-box;
  width: 65%;
  padding: 10px 15px;
  background: #fff;
  float: left;
  border-radius: 4px;
  margin-top: 70px;
  margin-bottom: 40px; }
  @media (max-width: 926px) {
    .right-box {
      width: 100%; } }

.right-box__heading {
  padding-bottom: 10px;
  font-size: 16px;
  font-weight: bold; }

.right-box__questions-item {
  border-top: 1px solid #eef1f2;
  padding: 10px 0; }
  .right-box__questions-item:after {
    content: "";
    display: table;
    clear: both; }

.right-box__questions-item-image {
  float: left;
  margin-top: 5px; }

.right-box__questions-item-question-body {
  margin-left: 20px;
  float: left;
  margin-top: 5px; }
  .right-box__questions-item-question-body:after {
    content: "";
    display: table;
    clear: both; }
  .right-box__questions-item-question-body h4 {
    font-size: 14px;
    font-weight: bold; }
  .right-box__questions-item-question-body p, .right-box__questions-item-question-body span {
    float: left;
    margin-right: 20px;
    color: #c2c2c2;
    font-size: 12px;
    margin-top: 14px; }

.right-box__search {
  border: none;
  padding: 15px 0; }

.right-box__questions-item-replies {
  text-align: center;
  float: right;
  vertical-align: center;
  padding: 8px 0;
  width: 40px;
  height: 50px;
  line-height: 29px;
  border: 1px solid #eef1f2;
  border-radius: 4px; }

.right-box__handler {
  margin-right: 20px;
  margin-bottom: 20px; }

[draggable] {
  cursor: move; }

.welcome-box {
  padding: 10px 15px;
  background: #fff;
  border-radius: 4px; }

.welcome-box__heading {
  font-weight: 600;
  font-size: 17px; }

.welcome-box__text {
  margin: 15px 0; }

.f-sidebar {
  border-radius: 5px;
  margin-top: 20px;
  background: #fff;
  font-weight: 400; }

.f-sidebar__nav-item, .f-sidebar__nav-item--active {
  border-top: 1px solid #eef1f2; }
  .f-sidebar__nav-item a, .f-sidebar__nav-item--active a {
    display: block;
    box-sizing: border-box;
    padding: 9px 15px;
    height: 100%;
    width: 100%; }

.f-sidebar__nav-item:first-child, .f-sidebar__nav-item--active:first-child {
  border-top: none; }

.f-sidebar__nav-item--active {
  font-weight: 900; }

.s-sidebar {
  background: #fff;
  margin-top: 20px;
  padding: 10px 15px;
  border-radius: 4px; }

.s-sidebar__heading {
  padding: 9px 0;
  font-size: 15px;
  font-weight: bold; }

.s-sidevar__categories-item {
  padding: 8px 0;
  font-size: 13px; }
  .s-sidevar__categories-item a:hover {
    text-decoration: underline; }

.likes-block {
  background: #fff;
  margin-top: 20px;
  padding: 10px 15px;
  border-radius: 4px;
  margin-bottom: 40px; }
  .likes-block:after {
    content: "";
    display: table;
    clear: both; }

.likes-block__heading {
  font-size: 15px;
  font-weight: bold;
  float: left;
  margin-right: 10px; }

.likes-block__change-date, .likes-block__change-date--active {
  float: left;
  background: none;
  border: none;
  font-size: 12px; }
  .likes-block__change-date:hover, .likes-block__change-date--active:hover {
    cursor: pointer; }

.likes-block__change-date--active {
  border: 1px solid #eef1f2; }

.likes-block__users-item {
  margin-bottom: 5px; }
  .likes-block__users-item:after {
    content: "";
    display: table;
    clear: both; }
  .likes-block__users-item img {
    float: left;
    border-radius: 5px; }
  .likes-block__users-item a {
    float: left;
    padding: 10px 0;
    margin-left: 15px; }
    .likes-block__users-item a:hover {
      text-decoration: underline; }
  .likes-block__users-item span {
    float: right;
    padding: 10px 0;
    color: #c2c2c2;
    margin-right: 20px; }
