.f-sidebar {
	border-radius: 5px;
	margin-top: $high;
	background: $font-header;
	font-weight: 400;
}

.f-sidebar__nav-item {
	border-top: 1px solid $background;

	a {
		display: block;
		box-sizing: border-box;
		padding: 18px 15px;
		height: 100%;
		width: 100%;
	}
}


.f-sidebar__nav-item:first-child {
	border-top: none;
}


.f-sidebar__nav-item--active {
	@extend .f-sidebar__nav-item;
	font-weight: 900;
}