.s-sidebar {
	background: $font-header-color;
	margin-top: $high-main;
	padding: 10px 15px;
	border-radius: $button-radius;
}

.s-sidebar__heading {
	padding: 9px 0;
	font-size: 15px;
	font-weight: bold;
}

.s-sidevar__categories-item {
	padding: 8px 0;
	font-size: 13px;
	
	& a:hover {
		text-decoration: underline;
	}
}