// main variables
$main: #ca3c3c;;
$font-header: #fff;
$background: #eef1f2;
$font-main: #000;
$font-size: 15px;
$search-box-width: 200px;
$button-rad: 4px;
$high: 20px;

$medium-break: max-width 1137px;
$pre-medium-break: max-width 926px;