// main variables
$palette-color-main: #ca3c3c;;
$font-header-color: #fff;
$background-color-main: #eef1f2;
$font-color-main: #000;
$font-size-main: 15px;
$search-box-width: 200px;
$button-radius: 4px;
$high-main: 20px;

$medium-breakpoint: max-width 1137px;
$small-breakpoint: max-width 926px;